//
// UsersAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
#if canImport(AnyCodable)
import AnyCodable
#endif

open class UsersAPI {

    /**
     Get current user profile
     
     - parameter apiResponseQueue: The queue on which api response is dispatched.
     - parameter completion: completion handler to receive the data and the error objects
     */
    @discardableResult
    open class func usersProfileGet(apiResponseQueue: DispatchQueue = GigCoAPIAPI.apiResponseQueue, completion: @escaping ((_ data: ModelUser?, _ error: Error?) -> Void)) -> RequestTask {
        return usersProfileGetWithRequestBuilder().execute(apiResponseQueue) { result in
            switch result {
            case let .success(response):
                completion(response.body, nil)
            case let .failure(error):
                completion(nil, error)
            }
        }
    }

    /**
     Get current user profile
     - GET /users/profile
     - Get the profile of the currently authenticated user
     - API Key:
       - type: apiKey Authorization (HEADER)
       - name: BearerAuth
     - returns: RequestBuilder<ModelUser> 
     */
    open class func usersProfileGetWithRequestBuilder() -> RequestBuilder<ModelUser> {
        let localVariablePath = "/users/profile"
        let localVariableURLString = GigCoAPIAPI.basePath + localVariablePath
        let localVariableParameters: [String: Any]? = nil

        let localVariableUrlComponents = URLComponents(string: localVariableURLString)

        let localVariableNillableHeaders: [String: Any?] = [
            :
        ]

        let localVariableHeaderParameters = APIHelper.rejectNilHeaders(localVariableNillableHeaders)

        let localVariableRequestBuilder: RequestBuilder<ModelUser>.Type = GigCoAPIAPI.requestBuilderFactory.getBuilder()

        return localVariableRequestBuilder.init(method: "GET", URLString: (localVariableUrlComponents?.string ?? localVariableURLString), parameters: localVariableParameters, headers: localVariableHeaderParameters, requiresAuthentication: true)
    }
}
